*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
recursos_desarrollo/

# Large datasets and models
datasets_remotos/
modelo_final_caras/
model.onnx.data
temp_tflite_output/
modelo_caras_actualizacion/

# IDE/Editor/Local files
.vscode/
*.onnx
